.address {
    margin-top: 20px;
}

.address__item:nth-child(n+2) {
    margin-top: 9px;
}

.address__place {
    color: $lightColor;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address__contact {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}