.page-header {
    position: relative;
    border-bottom: 1px solid #EEEEEE;
}

.page-header__container {
    position: relative;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.contact-header__link {
    color: $navContactColor;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.contact-header {
    display: none;
    margin: 0 0 0 auto;
    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.contact-header__icon {
    align-self: center;
    margin-right: 10px;
    fill: currentColor;
}

.contact-header__item:not(:first-child) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 10px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 50px;
    }
}

.menu-button {
    display: inline-flex;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: 0;
    background-color: transparent;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.is-open .menu-button__icon-close {
    display: block;
}

.is-open .menu-button__icon-menu {
    display: none;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    padding: 60px 10px 40px 10px;
    background-color: $lightColor;
    z-index: 2;
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .is-hidden {
        display: none;
        opacity: 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow: auto;    
    }
}

.mobile-nav__link {
    color: $primaryColor;
        text-decoration: none;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        text-decoration: none;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: $accentColor;
        }
    @media screen and (max-width: 400px) {
        font-size: 30px;
    }
}

.mobile-nav__item {
    &:not(:first-child) {
        margin-top: 32px;
    }
}

.mobile-contact-header {
    margin-top: 32px;
    margin-bottom: 64px;
}

.mobile-contact-header__item {
    &:not(:first-child) {
        margin-top: 32px;
    }
    text-align: center;
}

.mobile-menu__phone {
    font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $accentColor;
        text-decoration: none;
        text-align: center;
    @media screen and (max-width: 400px) {
        font-size: 22px;
    }
}

.mobile-menu__mail {
    font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: $navContactColor;
        text-decoration: none;
        text-align: center;
    @media screen and (max-width: 400px) {
        font-size: 16px;
    }
}

.mobile-menu__social-list {
    display: flex;
    margin-top: 64px;
    justify-content: center;
}

.mobile-menu__social-link {
    font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $accentColor;
        text-decoration: none;
        @media screen and (max-width: 400px) {
                font-size: 14px;
            }
    
    &:not(:first-child) {
        margin-left: 10px;
    }
    &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}