$accentColor: #2196f3;
$lightColor: #ffffff;
$primaryColor: #212121;
$navContactColor: #757575;
$backgroundColorDark: #2f303a;
$backgroundColorLight: #f5f4fa;
$colorSocialLink: #AFB1B8;
$primaryFontFamily: 'Roboto', sans-serif;
$secondaryFontFamily: 'Raleway', sans-serif;