.features {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }    
}

.features__thumb {
    background-color: $backgroundColorLight;
    padding: 25px auto;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.features__icon {
    fill: $primaryColor;
}

.features__title {
    color: $primaryColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.features__text {
    color: $navContactColor;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.features__item {
    @media screen and (max-width: 767px) {
    &:not(:first-child) {
        margin-top: 30px;
    }
    }
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 4*15px) / 2);
        margin: 15px;
    }
    
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 8*15px) / 4);
    }
}